<li>
    <p>
        <% if(locals.user && locals.user.id == post.user.id) { %>
            <small>
                <a href="/posts/destroy/<%= post.id %>">X</a>
            </small>
        <% } %>
        
        <%= post.content %>
        
        <br>
        <h5>
            <%= post.user.name %>
        <h5/>
    </p>
    <div id="post-comments">
        <% if(locals.user) { %> 
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type your comment here" required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            </form>    
            
        <%} %>

        <div class="post-comments-list">
            <ul class="post-comments-<%= post._id %>">
                <% for(comment of post.comments) { %>

                    <%- include('_comment') -%>
                    
                <% } %>
            </ul>

        </div>
    </div>
</li>